@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
.archivo {
  font-family: "Archivo Black", sans-serif;
} */

